{%- assign buildAt = site.time | date: "%Y%m%d%H%M%S" -%}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


  <title>Jiang Research Group</title>

  <!-- Bootstrap core CSS -->
  <link href="../test_page/css/editor.css" rel="stylesheet">
  <script src="../test_page/js/bootstrap.min.js"></script>

  <!-- Custom styles for this template -->
  <link href="../test_page/css/narrow-jumbotron.css" rel="stylesheet">
  <link href="../test_page/css/carousel.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
  <link href="../test_page/css/blog.css" rel="stylesheet">
  <link href="../test_page/css/pricing.css" rel="stylesheet">
</head>
