<!DOCTYPE html>
<html>
{% include head.html -%}
<body > <!-- ondragstart="return false;"-->
{% include header.html -%}
<script type="text/javascript">
    $(function () {
        var a = $('body').find('.img img')
        a.each(function () {
            if ($(this).attr('src') == '') {
                $(this).parent($('.img')).css("display", "none")
                $(this).parent($('.img')).next($('.text')).css("width", "100%")
            }
        })
    })
</script>
<main>

    <h1 class="display-10 text-dark" style ="margin-top: 20px;
    margin-bottom: 12px;
    text-align: center;
    display: block;
    position: relative;"><b  >News</b></h1>
    <section class="jumbotron container bg-light p-2" id="jumbotron">
{{ content }}

    </section>

</main>
{% include footer.html -%}
<!-- {% include script.html -%}-->
</body>
</html>