<!DOCTYPE html>
<html>
{% include head.html -%}
<body > <!-- ondragstart="return false;"-->
{% include header.html -%}
<main>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <section class="jumbotron container bg-light p-4" id="jumbotron">
        <div class="container marketing"  >
{{ content }}

        </div><!-- /.row -->


    </section>




</main>
{% include footer.html -%}
{% include script.html -%}
</body>
</html>